
/**********************
 *                    *
 *   +BASIC CSS SET   *
 *                    *
 **********************/

/* html {scroll-behavior: smooth;} */
::-webkit-scrollbar {
    width: 0;
    height: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 15px;
}

.example_wrap{border: 1px solid rgb(68, 189, 60, 0.7); margin-top: 25px; position: relative; padding: 15px;}
    .example_wrap h5{position: absolute; top: -10px; left: 10px; font-weight: 400; color: #44bd3c; background: #fff;padding: 0 15px;}

    .example_wrap > img{width: 100%; margin-bottom: 10px;}
        .example_wrap > img:last-child{margin-bottom: 0;}

.code_wrap{position: relative; width: 100%; height: 100px; border: 1px solid #eee; padding: 5px; overflow: hidden;}
    .code_wrap.active{height: unset;}
    
    .code_wrap .code_toggle_btn{position: absolute;top: 0;right: 0; padding: 2px 10px; font-size: 11px; color: #222;}

.bullet_list li{position: relative; padding: 5px !important; padding-left: 20px !important; margin: 0 !important;}
.bullet_list li::before{content: '•'; display: inline-block; position: absolute; top: 5px; left: 5px;}

    
.wrapper{position: relative; width: 100%; height: 100vh;}

/*************************
 *                       *
 *         .gnb          *
 *                       *
 *************************/
.gnb{position:fixed; width:100%; height:70px; background: #fff; z-index: 99; border-bottom: 1px solid #eee; padding-bottom: 20px; box-shadow: 0 0 5px 3px rgba(191, 191, 191, 0.3);}
    .gnb .inner{height:100%;align-items: flex-end;}
        .gnb h1 a.pc{font-size: 15px; color: #e95509; align-items: flex-end; gap:5px;}
        .gnb h1 a.mobile{display: none;}
    
    .gnb .menu{gap:15px;}
    .gnb .menu li a{font-size:18px; color:#333; margin-left:10px; font-weight: 600;}
    .gnb .menu li a img{width:30px;}


/*************************
 *                       *
 *         .snb          *
 *                       *
 *************************/
.snb{width: 30%; position: absolute; top: 0; left: 0;}
    .snb li{padding: 5px 0;}


/*************************
 *                       *
 *        .footer        *
 *                       *
 *************************/
.footer{width: 100%; background: #000; padding: 20px 0; color: #fff; text-align: center;}




/*******************************
 *                             *
 *   index.html > .container   *
 *                             *
 *   1. #mVisual               *
 *   2. #infoAccess            *
 *                             *
 *******************************/

.container{width:100%; min-width:320px; height: calc(100% - 70px); overflow-y: auto; position: absolute; top: 70px; left: 0;}
    .container h2{font-size: 35px; margin: 35px 0; position: relative; padding-left: 10px;}
        .container h2::before{content:''; display: inline-block; width: 5px; height: 80%; position: absolute; top: 10%; left:0; background: linear-gradient( to bottom, #979797, rgb(50, 50, 50) );}
    .container h3{font-size: 25px; margin-bottom:20px;}
    .container > article > section{padding:35px 0;}


    /* 1. #mVisual */
    .container .m_visual{width: 100%; height: 400px; background: url('../img/main_upper.jpg') no-repeat center/100%;}
        .container .m_visual .inner{width: 300px; height: 300px; position: relative; justify-content: center;}
        .container .m_visual .inner::before{content:''; display: inline-block; width: 100%; height: 100%; opacity: 0.7; background: #fff; position: absolute; top: 0; left:0; box-shadow: 0 0 5px 5px rgb(255, 255, 255, 1);}
    
        .container .m_visual h2{color:#293f54; text-align: center; font-size: 30px; font-weight: 900; position: relative; margin: 0 auto; padding: 0;}
            .container .m_visual h2::before{display: none;}
    
        .container .m_visual ul{width: 100%; position: relative;}
            .container .m_visual ul li{color:#358964; text-align: center; font-size:15px; font-weight: 600;}

    /* 2. #desc  */
    .desc{width: 100%;}
        .desc > section{width: 100%; padding-bottom:100px;}
        .desc p{padding: 15px 0; line-height: 1.8;}
        .desc p .date{ color: #fd5b45; font-size: 15px; font-weight: 600;}

        .desc .guide_menus{align-items: flex-start;}
            .desc .guide_menus li {width: 30%; display: flex; flex-direction: column; align-items: center; justify-content: center;}
                .desc .guide_menus li img{width: 125px; height: 100px;}
                .desc .guide_menus dt,
                .desc .guide_menus dd{text-align: center;margin-top: 25px; padding: 0 20px;}

                .container .guide_menus dt button{font-weight:700; opacity: 0.8;}
                .container .guide_menus dt button:hover{opacity: 1;}




/**********************
 *                    *
 *     common.html    *
 *                    *
 **********************/

.common h2{font-size: 18px;}
.common .container{align-items: flex-start; margin: 0 auto;}
    .common .container .inner{position: relative; height: 100%;}


.contents{width: 70%;height: 100%; position: absolute; top: 0; right: 0; overflow-y: auto;}
    .contents > article{ padding: 25px 0;}
    
    .contents > article a{color: #3285bf; font-weight: 600; text-decoration: underline;}
    
    .contents .list{padding: 10px 0;}
        .contents .list li{padding: 20px; margin: 15px 0;}
        .contents .list > li{border: 1px solid #eee;}
        .contents .list > li > p,
        .contents .list > li > ol,
        .contents .list > li > ul,
        .contents .list > li > .line_clear{padding: 20px; line-height: 1.8;}

        .contents .list > li > .line_clear{padding-top: 0;}
            .contents .list > li > .line_clear .example_wrap {margin-top: 0;}
        
        .contents .list > li dl{padding: 20px;}
            .contents .list > li dl dt{padding: 5px 0; font-weight: 600;}

        .contents .child_list li{padding: 5px 0; padding-left: 10px; margin: 15px 0;}



/**********************
 *                    *
 *    pc_guide.html   *
 *                    *
 **********************/


/*************************
 *                       *
 *   mobile_guide.html   *
 *                       *
 *************************/
 

/**********************
 *                    *
 *    +MEDIA QUERY    *
 *                    *
 **********************/
